<!DOCTYPE html>
<head>
    <title>Home Page</title>

    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<link href="{{url_for('static',filename ='css/home.css')}}" rel="stylesheet" />
</head>

<body>
    
 
      
      <div class="container px-4 py-5" id="custom-cards">
        <h1 class="pb-2 border-bottom">Smart Fashion Store</h1>
    
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
          <div class="col">
            <div class="card card-cover  text-bg-dark rounded-4 shadow-lg"  id="card1" >
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Jackets</h3>
                <ul class="d-flex list-unstyled mt-auto">
                  
                  <li class="d-flex align-items-center me-3">
                
                    <small></small> 
                  </li>
                  </li>
                </ul>
              </div>
            </div>
          </div>
    
          <div class="col"><a href="loginn.html">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"  id="card2">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-3">
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">T-shirts</h3>
                <ul class="d-flex list-unstyled mt-auto">
                  
                  <li class="d-flex align-items-center me-3">
                
                    <small></small>
                  </li>
                  <li class="d-flex align-items-center">
                    
                    <small></small>
                  </li>
                </ul>
              </div>
            </div></a>
          </div>
    
          <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" id="card3" >
              <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                <h3 class="pt-5  mt-5 mb-4 display-6 lh-3 fw-bold">Hoodies</h3>
                <ul class="d-flex list-unstyled mt-auto">
                  
                  <li class="d-flex align-items-center me-3">
                    
                    <small></small>
                  </li>
                  <li class="d-flex align-items-center">
                    
                    <small></small>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col"><a href="loginn.html">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"  id="card4">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-3">
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Women</h3>
                <ul class="d-flex list-unstyled mt-auto">
                  
                  <li class="d-flex align-items-center me-3">
                
                    <small></small>
                  </li>
                  <li class="d-flex align-items-center">
                    
                    <small></small>
                  </li>
                </ul>
              </div>
            </div></a>
          </div>

          <div class="col"><a href="loginn.html">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"  id="card5">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-3">
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Accessories</h3>
                <ul class="d-flex list-unstyled mt-auto">
                  
                  <li class="d-flex align-items-center me-3">
                
                    <small></small>
                  </li>
                  <li class="d-flex align-items-center">
                    
                    <small></small>
                  </li>
                </ul>
              </div>
            </div></a>
          </div>

          

          <div class="col"><a href="aboutus.html">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" id="card6" >
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-3">
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">About us</h3>
                <ul class="d-flex list-unstyled mt-auto">
                  
                  <li class="d-flex align-items-center me-3">
                
                    <small></small>
                  </li>
                  <li class="d-flex align-items-center">
                    
                    <small></small>
                  </li>
                </ul>
              </div>
            </div></a>
          </div>



          


        </div>
      </div>      
</body>
</html>