#card1{
    background-image: url('Static/img/jacket.jpg') !important;
}
#card2{
    background-image: url('img/adidas.jpg') !important;
}
#card3{
    background: url('img/hoodies.jpg')!important;
}
#card4{
    background-image: url('img/womenn.jpg')!important;
}
#card5{
    background-image: url('img/accesories.jpg')!important;
}
#card6{
    background-image: url('img/blue-coat.jpg')!important;
}