<!DOCTYPE html>
<head>
    <title>Home Page</title>

    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">


<style>
    .card{
    
    background-size: 104% ;

}

</style>
</head>

<body>

  <header class="p-3 text-bg-dark">
  
    <div class="container">

     

     
      
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
  
        <a href="homef.html" class="d-flex align-items-center  mb-3 mb-md-0 me-md-auto text-dark text-decoration-none ">
         <hover> <img src="Static/img/sfs.png" width="180" height="80" > </hover>
          <span class="fs-4 text-white fw-bold">Smart Fashion Store</span>
        </a>


        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="homef.html" class="nav-link px-2 text-white">Home</a></li>
          <li><a href="#" class="nav-link px-2 text-white"></a></li>
          <li><a href="pricing.html" class="nav-link px-2 text-white">Pricing</a></li>
          <li><a href="faq.html" class="nav-link px-2 text-white">FAQs</a></li>
          <li><a href="aboutus.html" class="nav-link px-2 text-white">About</a></li>
        </ul>

      

        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2"><a href="loginn.html" class="nav-link px-2 text-white">Login</a></button>
          <button type="button" class="btn btn-outline-light me-2"><a href="reg.html" class="nav-link px-2 text-white">Register</a></button>
        </div>
        
      </div>
    </div>
  </header>


  
 
      <!-- Card starts -->
      <div class="container px-4 py-4" id="custom-cards">
        <div class="row row-cols-1 row-cols-lg-2 align-items-stretch g-4 py-7">
          <div class="col "><a href="" class="nav-link  text-white">
            <div class="card card-cover  text-bg-dark rounded-4 shadow-lg "  style="background-image: url('https://www.allkpop.com/upload/2022/07/content/010837/1656679073-v.png');" >
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1  text-white fw-bold ">Jackets</h3>
                <ul class="d-flex list-unstyled mt-auto">
                </ul>
              </div>
            </div></a>
          </div>
    
          <div class="col"><a class="nav-link  text-white" href="">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('Static/img/adidas.jpg');">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-3">
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">T-shirts</h3>
                <ul class="d-flex list-unstyled mt-auto">
                  
                  <li class="d-flex align-items-center me-3">
                
                    <small></small>
                  </li>
                  <li class="d-flex align-items-center">
                    
                    <small></small>
                  </li>
                </ul>
              </div>
            </div></a>
          </div>
    
          <div class="col"> <a class="nav-link  text-white" href="">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('Static/img/hoodies.jpg');" >
              <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                <h3 class="pt-5  mt-5 mb-4 display-6 lh-3 fw-bold">Hoodies</h3>
                <ul class="d-flex list-unstyled mt-auto">
                  
                  <li class="d-flex align-items-center me-3">
                    
                    <small></small>
                  </li>
                  <li class="d-flex align-items-center">
                    
                    <small></small>
                  </li>
                </ul>
              </div>
            </div></a>
          </div>

          <div class="col"><a class="nav-link  text-white" href="">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"  style="background-image: url('Static/img/women.jpg');">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-3">
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Women</h3>
                <ul class="d-flex list-unstyled mt-auto">
                  
                  <li class="d-flex align-items-center me-3">
                
                    <small></small>
                  </li>
                  <li class="d-flex align-items-center">
                    
                    <small></small>
                  </li>
                </ul>
              </div>
            </div></a>
          </div>

          <div class="col"><a class="nav-link  text-white" href="">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"  style="background-image: url('Static/img/accesories.jpg');">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-3">
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Accessories</h3>
                <ul class="d-flex list-unstyled mt-auto">
                  
                  <li class="d-flex align-items-center me-3">
                
                    <small></small>
                  </li>
                  <li class="d-flex align-items-center">
                    
                    <small></small>
                  </li>
                </ul>
              </div>
            </div></a>
          </div>

          

          <div class="col"><a class="nav-link  text-white" href="aboutus.html">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('Static/img/blue-coat.jpg');" >
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-3">
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">About us</h3>
                <ul class="d-flex list-unstyled mt-auto">
                  
                  <li class="d-flex align-items-center me-3">
                
                    <small></small>
                  </li>
                  <li class="d-flex align-items-center">
                    
                    <small></small>
                  </li>
                </ul>
              </div>
            </div></a>
          </div>


          <script>
            window.watsonAssistantChatOptions = {
              integrationID: "9f1ae07d-be7d-4243-a88b-3101eb53e043", // The ID of this integration.
              region: "au-syd", // The region your integration is hosted in.
              serviceInstanceID: "7c0b5e17-48c0-4aec-9ed6-f1e8cdd5222d", // The ID of your service instance.
              onLoad: function(instance) { instance.render(); }
            };
            setTimeout(function(){
              const t=document.createElement('script');
              t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
              document.head.appendChild(t);
            });
          </script>
          


        </div>
      </div>      
</body>
</html>



