<!DOCTYPE html>


    <head>
    
    <title>Pricing</title>

    
 <!-- CSS only -->
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
       
    

    
   
  </head>

  
  <body>

    <header class="p-3 text-bg-dark">
  
      <div class="container">
  
       
  
       
        
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    
          <a href="homef.html" class="d-flex align-items-center  mb-3 mb-md-0 me-md-auto text-dark text-decoration-none ">
           <hover> <img src="Static/img/sfs.png" width="180" height="80" > </hover>
            <span class="fs-4 text-white fw-bold">Smart Fashion Store</span>
          </a>
  
  
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="homef.html" class="nav-link px-2 text-white">Home</a></li>
            <li><a href="#" class="nav-link px-2 text-white"></a></li>
            <li><a href="pricing.html" class="nav-link px-2 text-white">Pricing</a></li>
            <li><a href="faq.html" class="nav-link px-2 text-white">FAQs</a></li>
            <li><a href="aboutus.html" class="nav-link px-2 text-white">About</a></li>
          </ul>
  
        
  
          <div class="text-end">
            <button type="button" class="btn btn-outline-light me-2"><a href="loginn.html" class="nav-link px-2 text-white">Login</a></button>
            <button type="button" class="btn btn-outline-light me-2"><a href="reg.html" class="nav-link px-2 text-white">Register</a></button>
          </div>
          
        </div>
      </div>
    </header>
  
    



<div class="container py-3">
  

     

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Pricing</h1>
      <p class="fs-5 text-muted">We have the best pricing </p>
    </div>
  </header>

  <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Free</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Rs.0<small class="text-muted fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>10 recommendations</li>
              <li></li>
              <li>Email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary"><a href="reg.html" >Sign up for free</a></button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Pro</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Rs.99<small class="text-muted fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>400 recommendations</li>
              <li></li>
              <li>Priority email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">Enterprise</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Rs.299<small class="text-muted fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>1000 recommendations</li>
              <li></li>
              <li>Phone and email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Contact us</button>
          </div>
        </div>
      </div>
    </div>

    
  
  </main>

  
</div>


    
  

</body></html>